{% extends "_layouts/layout" %}
{% block main %}

<div class="main-content">
    <div class="content-left">
        <div class="container">
            <div class="content__heading">
            <h1>Bildhauerei</h1>
                <h1>Grabmale</h1>
                <h1>Workshops</h1>
            </div>

            <div class="content__element">
                {{entry.adresse}}
            </div>
            <div class="content__element">
                {{entry.kontakt}}
            </div>
            <div class="content__element">
                {{entry.infotext}}
            </div>
        </div>
    </div>

    <div class="content-right">
        <div class="container">
            <div class="img-carousel">

            </div>
            <a href="{{url('/gallerie')}}">
            <div id="slider">
                <slider>
                    {% for image in entry.bilder %}
                    <div class="swiper-slide">
                        <div class="swiper-slide">
                            <img src="{{image.getUrl('transformed')}}" alt="dummy">
                        </div>
                    </div>
                    {% endfor %}
                </slider>
            </div>
            </a>
        </div>


        <div class="container">
            <h2>Angebot</h2>
            {{entry.angebottext}}
            <div class="tab">
                <h4 class="tab__heading tab--active">
                    <a href="{{ url('/news') }}">News</a>
                </h4>
                <ul class="no-bullets">
                    {% set entryQuery = craft.entries()
                    .section('news')
                    .orderBy('postDate desc')
                    .limit(3) %}
                    {% set entries = entryQuery.all() %}

                    {% for entry in entries %}
                    <li>
                        <a href="{{ entry.url }}">
                        <div class="small">{{ entry.postDate | date("j F Y") }}</div>
                        {{ entry.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}